{% extends 'base.html.twig' %}

{% block title %} Post show {% endblock %}

{% block body %}
  <article class="col-12 px-5 py-4 mb-5 border">
    <div class="">
      <h3 class="text-center mb-4">{{post.title}}</h3>
      <img src="{{asset(post.getImagePath())}}" width="100%" class="mb-3">
      <p class="text-center">

        {% if post.hasCategory() %}
          <a href="{{path('category_posts', {id: post.getCategoryId()} )}}">{{post.getCategoryTitle()}}</a>
        {% endif %}

      <p>{{post.content}}</p>
      <cite class="text-muted">By 
        <a href="#" class="text-reset"><u>{{post.getAuthorName()}}</u></a>, on 3 september</cite>
      </div>
  </article>

    {% if app.user %}
      {{ render(controller('App\\Controller\\BlogController::commentForm', {id: post.id})) }}
    {% endif %}

  <div class="comments">
    {% for comment in post.comments %}
    <ul class="list-group">
      <li class="list-group-item col-6 mb-5">
          <div class="d-flex align-items-end mb-4">
            <img src="{{asset('build/images/no-user.png')}}" width="50" height="50">
            <h5 class="m-0 ml-4"> {{comment.user.getName()}} </h5>
          </div>
          <p>
            {{comment.content}}
          </p>
      </li>
    {% endfor %}
  </div>
  
{% endblock %}

